p {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    width: 725px;
}
textarea {
    font-family: sans-serif;
    font-size: 90%;
    background-color: rgb(239, 239, 239);
    width: 411px;
    height: 269px;
   
}
input {
   
    background-color: rgb(239, 239, 239)    
}
/* table in the top of page: start */
table,tr,td {
    border: black 1px solid;
    border-collapse: collapse;
    font-size: 15px;
}
tr:nth-child(even) {
    background-color: rgb(1, 1, 48);
    color:white
}
tr:hover{
    background-color: rgb(57, 0, 0);
    color: white;
}
/* End */

p.spacialtextred{
    color:darkred;
    font-family: georgia, times;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    font-style: italic;
}
a.toppagetag {
    text-decoration: none;
    color: grey;
    margin-left: 20px;
}
a.toppagetag:hover{
    color:rgb(60, 60, 60)
}
div.lastpicture img {
    border: black 0.1px solid;
    width: 194px;
    height: 320px;
    margin-left:-4px;
}
div.lastarticletag {
    background-color:#DDD;
    padding: 8px;
    font-family: 'colaborate-lightregular',arial;
    color: #333;
    -webkit-border-radius: 6px;
    width:714px;
}
span.lastarticletag{
    font-weight: bold;
    color: #E06900;
    font-size: 15px;
}
span a.lastarticletag {
    color: #ff8400;
    text-decoration: none;
    font-weight: bold;
}
span a.lastarticletag:hover {
    text-decoration-line: underline;
}
img.gototop {
-webkit-filter: grayscale(100%);
opacity: 0.7;
padding: 10px;
position: fixed;
bottom: 75px;
right: 40px;
}
img.gototop:hover{
    -webkit-filter: none;
}






















/* ol.first-unorderList {
    background-color:rgba(128, 128, 128, 0.208);
}
li:hover {
    background-color:rgb(75,0,0);
    color: white;
} */