/* table in the top of page: start */
table,tr,td {
    border: black 1px solid;
    border-collapse: collapse;
    font-size: 15px;
}
tr:nth-child(even) {
    background-color: rgb(1, 1, 48);
    color:white
}
tr:hover{
    background-color: rgb(57, 0, 0);
    color: white;
}
/* End */

h3 {
    color: darkred;
    margin-left: 435px;
}
h4{
    color: darkred;
}
p {
    font-weight: bold;
    font-family: sans-serif;
    width: 773px;
    font-size: 15px;
    line-height: 20px;
}
a.toppagetag {
    text-decoration: none;
    color: grey;
    margin-left: 20px;
}
a.toppagetag:hover{
    color:rgb(60, 60, 60)
}
input {
   
    background-color: rgb(239, 239, 239)    
}
div.altairIdentity {
    background-color: rgb(205, 205, 205);
    width: 270px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    -webkit-border-radius: 6px;
    margin-left:-10px;
    padding: 0.1px;

}
span {
    color: #000080;
    font-style: italic;
    font-family: georgia, times;
}
ol {
    font-weight: bold;
    font-family: sans-serif;
    width: 773px;
}
i.AltairA {
    color: #000080;
}